/* ----------------- VARIABLE ---------------- */

:root {
    --main-green: #BCEBCB;
    --text-color: #22031F;
    --main-violet:#9061F2;
    --main-orange: #F68E5F;
    --typo-main-title: Monoton, sans-serif;
    --type-second-title: Russo one, sans-serif;
    --typo-nav: Righteous, sans-serif;
    --typo-text: Chakra Petch, sans-serif;
}



/* ---------------- HEADER --------------- */

header {
    transition: opacity 1s;
}

header.transitionOut {
    opacity: 0;
}

header.headerIn {
    animation: 1.5s ease-in-out headerIn;
}

@keyframes headerIn {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.home_link {
    text-decoration: none;
}

.main_title {
    font-family: var(--typo-main-title);
    color: var(--text-color);
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    min-width: 350px;
    margin: 20px auto;
}

.nav_item {
    margin-right: 25px;
}

.nav_link {
    font-family: var(--typo-nav);
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    position: relative;
}

.nav_link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-violet);
    transform: scale(0);
}

.nav_link:hover::after {
    transform: scale(1);
    transition: transform 0.4s ease-out;
}

main{
    border-top: 1px solid black;
    width: 1400px;
    margin: 45px auto;
}

main h2 {
    font-size: 45px;
    font-family: var(--type-second-title);
    padding: 15px 15px;
}


@media screen and (max-width: 1500px) {
    main{
        width: 1000px;
    }
}

@media screen and (max-width: 1100px) {
    main{
        width: 700px;
    }

    main h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 750px) {
    main{
        width: 500px;
        margin: 35px auto;
    }
    main h2 {
        font-size: 32px;
    }
}



@media screen and (max-width : 550px) {
    .main_title{
        font-size: 45px;
    }
    .nav_list {
        margin: 10px auto;
    }
    .nav_item {
        margin-right: 5px;
    }

    .nav_link {
        font-size: 18px;
    }

    main{
        width: 350px;
        margin: 30px auto;
    }
    main h2 {
        font-size: 30px;
    }
}