/* ----------- VARIABLE ---------- */

:root {
    --main-bg-color: #BCEBCB;
    --text-color: #22031F;
    --main-violet:#9061F2;
    --main-orange: #F68E5F;
}


/* ----------- GENERAL ---------- */

body{
    height: 100vh;
    background: linear-gradient(to right bottom, #fff 40%, var(--main-bg-color));
    color: var(--text-color);
}

/* ----------- HEADER ---------- */

.main_title {
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 20px auto;
}

.nav_item {
    margin-right: 25px;
}

.nav_link {
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
}

/* ----------- MAIN ---------- */

.presentation {
    width: 1600px;
    margin: 0 auto;
}

.presentation_img{
    border: 5px solid var(--main-violet);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 55px auto;
}

.presentation_img img {
    width: 100%;
    display: block;
}

.presentation_txt {
    font-size: 28px;
    line-height: 56px;
    border: 3px solid var(--text-color);
    padding: 15px 25px;
    border-radius: 15px;
}

.presentation_txt span {
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}

.presentation_btn {
    display: block;
    margin: 25px auto;
    font-size: 36px;
    background: var(--main-bg-color);
    padding: 15px 25px;
    border: 3px solid var(--main-orange);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 5px 0 black;
}

.presentation_btn:hover {
    background: var(--main-orange);
    border: 3px solid var(--main-bg-color);
}

.presentation_btn:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px black;
}


/* ----------- SLIDER ---------- */


.slider_container{
    position: relative;
    width: 100%;
    display: grid;
}

.slide_btn {
    width: 120px;
    height: 120px;
    position: absolute;
    font-size: 200px;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.slide_btn:hover {
    background: rgba(255,255,255,0.10);
}

.slide_btn img {
    width: 100%;
}


.left {
    left: 2%
}

.right {
    right: 2%;

}

.slider_container picture img {
    width: 100%;
}

.slide.active {
    display: block;
}

.slide {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.slide {
    display: none;
}

.project_id {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project_id h2 {
    font-size: 28px;
}
.project_id p {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}

.img_techno_container{

}

.img_techno_container img {
    width: 100px;
}

.projects_link_container{

}