/* ---------- HEADER ---------- */

header {
    width: 100vw;
    height: 70px;
    background-color: #7678ED;
}

.main_title {
    font-size: 55px;
    text-align: center;
    line-height: 70px;
    border-bottom: 3px solid #F35B04;
}


/* ---------- MAIN ---------- */

main {
    width:1200px;
    margin: 100px auto;
}

.text_par {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.slider_section{
    margin-top: 100px;
}

.slider_container {
    width: 100%;
    background: linear-gradient(45deg, #3D348B 50%, #7678ed);
    /* border: 3px solid #f35b04; */
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    padding: 30px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}

.btn-direction{
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #F35B04;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1
}

.left {
    left: 3%;
}

.right{
    right: 3%;
}

.slide_container {
    grid-area: 2 / 2 / 3 / 3;
    display: none;
}

.slide_container.active {
    display: flex;
}

.content {
    width: 100%;
    position: relative;
}

.content img {
    max-width: 100%;
    vertical-align: bottom;
    border-radius: 5px;
}

.content::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.65);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
} 

.content:hover::before, .content:hover .project_id {
    display: block;
}

.project_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: none; */
    border: 3px solid #F35B04;
    border-radius: 15px 0 55px 0;
    padding: 30px;
    font-size: 20px;
    color: #fff;
    display: none;
} 

.project_id p {
    margin-bottom: 10px;
}

.project_id h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 5px;
}

.project_id h3 {
    font-size: 24px;
    margin-bottom: 5px;
}


.project_id_techno, .projetc_id_desc {
    margin-bottom: 10px;
}

.container_img_techno {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.project_id_techno img {
    width: 50px;
    border: 2px solid black;
    margin-right: 10px;
}

.btn_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.git_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #000;
    margin-right: 15px;
    cursor: pointer;
}

.git_btn:hover{
    background-color: #a5a5a5;
}

.git_btn img {
    width: 100%;
}

.link_btn {
    height: 50px;
    font-size: 18px;
    padding: 10px 25px;
    border: 2px solid black;
    background-color: #F35B04;
    border-radius: 5px;
    cursor: pointer;
}

.link_btn a {
    width: 100%;
    background: red;
}

.link_btn:hover {
    background-color: #fff;
    border: 2px solid #F35B04;
    color: #3D348B;
}
