/* ----------------- VARIABLE ---------------- */

:root {
    --main-green: #BCEBCB;
    --text-color: #22031F;
    --main-violet:#9061F2;
    --main-orange: #F68E5F;
    --typo-main-title: Monoton, sans-serif;
    --type-second-title: Russo one, sans-serif;
    --typo-nav: Righteous, sans-serif;
    --typo-text: Chakra Petch, sans-serif;
}


/* ---------------- GENERAL --------------- */

body{
    min-height: 100vh;
    background: #fff;
    color: var(--text-color);
}


/* ---------------- HEADER --------------- */

header {
    transition: opacity 1s;
}

header.transitionOut {
    opacity: 0;
}

header.headerIn {
    animation: 1.5s ease-in-out headerIn;
}

@keyframes headerIn {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.main_title {
    font-family: var(--typo-main-title);
    color: var(--text-color);
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 20px auto;
}

.nav_item {
    margin-right: 25px;
}

.nav_link {
    font-family: var(--typo-nav);
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
}

/* ---------------- MAIN --------------- */

main {
    height: 100%;
    display: grid;
}

.presentation {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
    min-height: 100%;
    margin: 0 auto;
}

.presentation.animShrink {
    animation: 1.5s ease shrinkRotate;
}

.presentation.animGrow {
    display: block;
    animation: 1.5s ease-in growRotate;
}

.presentation_txt {
    width: 900px;
    height: 250px;
    font-family: var(--typo-text);
    margin: 0 auto;
}

.presentation_img{
    border: 5px solid var(--main-violet);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 55px auto;   
}

.presentation_img img {
    width: 100%;
    display: block;
}

.presentation_txt {
    font-size: 22px;
    line-height: 56px;
    border: 3px solid var(--text-color);
    padding: 15px 25px;
    border-radius: 15px;
}

.presentation_txt span {
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
    text-decoration: underline;
}

.presentation_txt4 a {
    color: var(--main-violet);
    margin-left: 4px;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    transition: opacity 1s ease-out;
    animation: 1.5s forwards appears;
}

.presentation_txt4 a:hover {
    color: var(--main-orange);
    letter-spacing: 5px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

@keyframes appears {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes shrinkRotate {
    0% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg) scale(0) translateX(1550px) ;
        opacity: 0;
    }
}

@keyframes growRotate {
    0% {
        transform: rotate(0) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg) scale(1) ;
        opacity: 1;   
    }
}



.project_btn {
    display: block;
    margin: 35px auto;
    font-size: 36px;
    background: var(--main-violet);
    padding: 15px 25px;
    border: 3px solid var(--main-orange);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 5px 0 black;
    font-family: var(--typo-nav);
    font-weight: bolder;
}

.project_btn:hover {
    background: var(--main-orange);
    border: 3px solid var(--main-green);
}

.project_btn:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px black;
}


/* ---------------- SLIDER --------------- */


.projects_slider{
    display: none;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 0;
    min-height: 100%;
}

.projects_slider.animShrink {
    animation: 1.5s ease shrinkRotate;
}

.projects_slider.animGrow {
    animation: 1.5s ease-in growRotate;
}

.slider_container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
}

.slide_btn {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.30);
    cursor: pointer;
}

.toggle_info {
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 50px;
    z-index: 100;
    top: 10%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--main-green);
    cursor: pointer;
}

.toggle_info img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_info:hover {
    background: rgba(255,255,255,0.40);
    border:2px solid var(--main-orange);
}

.slide_btn:hover {
    background: rgba(255,255,255,0.10);
    border-color: var(--main-orange);
}

.slide_btn img {
    width: 100%;
    pointer-events: none;
}

.left {
    left: 2%
}

.right {
    right: 2%;
}

.back_home {
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 50px;
    z-index: 100;
    top: 10%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background: var(--main-green);
    cursor: pointer;
}

.back_home img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_home:hover {
    background: rgba(255,255,255,0.10);
    border: 2px solid var(--main-orange);
}

.slider_container picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover
}

.slide.active {
    display: block;
}

.slide {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

.slide {
    display: none;
}

.project_id {
    background: rgba(0, 0, 0, 0.82);
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.project_id.active {
    display: flex;
}

.project_id h2 {
    font-size: 42px;
    font-family: var(--type-second-title);
    
}

.project_id h3{
    font-size: 32px;
    font-family: var(--type-second-title);
    text-align: center;
}
.project_id p {
    width: 80%;
    font-size: 26px;
    font-family: var(--typo-text);
    text-align: center;
    margin-top: 25px;
}


.img_techno_container img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}


.projects_link_container img {
    width: 100px;
    padding: 5px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.projects_link_container img:hover {
    background-color: rgba(255, 255, 255, 0.8);
}